{{- if (eq .Page.Type "blog") }}

<script src="https://giscus.app/client.js"
        data-repo="g-fb/georgefb-com"
        data-repo-id="R_kgDONDWuVw"
        data-category="Blog posts"
        data-category-id="DIC_kwDONDWuV84CjkRf"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

{{- end }}
